* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
aside {
    width: 250px;
    height: 100vh;
    padding: 1rem 0.5rem;
    background: #222222;
}
aside h2 {
    color: #eeeeee;
    margin-bottom: 1rem;
    text-align: center;
}
aside .search-form {
    width: 100%;
    margin-bottom: 1rem;
}
aside .search-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ff0000;
    box-sizing: border-box;
}
aside .search-result {
}
aside .search-result li {
    padding: 0.5rem;
    color: #eeeeee;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
aside .search-result li:hover {
    color: #222222;
    background: #ffffff;
}