header {
    padding: 1rem
}

.toggle-menu {
    position: absolute;
    display: none;
    line-height: 1.9rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.page-title {
    font-size: 1.5rem;
    text-align: center;
}

@media all and (max-width: 767px) {
    .toggle-menu {
        display: block
    }
}

@media all and (max-width: 480px) {
    .page-title {
        font-size: 1.2rem
    }
}